<%
  # Build the custom parameters hash and don't clutter the url with empty params.
  temp = {}
  temp.merge!(:taxon => params[:taxon]) if !params[:taxon].nil? && !params[:taxon].empty?
  temp.merge!(:subtaxons => params[:subtaxons]) if params[:subtaxons] != "0"
  temp.merge!(:min_price => params[:min_price]) if !params[:min_price].nil? && !params[:min_price].empty?
  temp.merge!(:max_price => params[:max_price]) if !params[:max_price].nil? && !params[:max_price].empty?
  temp.merge!(:keywords => params[:keywords]) if !params[:keywords].nil? && !params[:keywords].empty?
%>

<!-- Code by Ilya Grigorik - http://www.igvita.com/blog/2006/09/10/faster-pagination-in-rails/ -->
<% if collection.page_count != collection.first_page -%>
<div class="pagination">
  <ul>
    <% if collection.previous_page? -%>
    <li class="nextpage">
      <% temp.merge!(:p => collection.previous_page) %>
      <%= link_to "&#171; #{t('previous')}", temp.merge(options) %>
    </li>
    <% else -%>
    <li class="disablepage">&#171; <%= t('previous') %></li>
    <% end -%>
    
    <% last_page = 0 -%>
    <% windowed_pagination_links(collection, :window_size => 2, :link_to_current_page => true, :always_show_anchors => true) do |n| -%>
    <% if collection.page == n -%>
    <li class="currentpage"><%= n %></li>
    <% else -%>
    <li><%= "..." if last_page+1 < n %>
      <% temp.merge!(:p => n) %>
      <%= link_to n, temp.merge(options) %>
    </li>
    <% end -%>
    <% last_page = n -%>
    <% end -%>
    
    <% if collection.next_page? -%>
    <li class="nextpage">
      <% temp.merge!(:p => collection.next_page) %>
      <%= link_to "#{t('next')} &#187;", temp.merge(options) %>
    </li>
    <% else -%>
    <li class="disablepage">&#171; <%= t('next') %></li>
    <% end -%>
  </ul>
</div>
<% end -%>
