<table>
<tr>

<td>
  <%= t("sort_by") %>:
</td>

<td>&nbsp;</td>

<td>
  <%= link_to t("name"), {
    :search => params[:search],
    :sort => "name_#{@sort_by.include?('ASC') ? 'desc' : 'asc'}",
    :p => params[:p]
  } -%>
</td>
<td>
  <% if @sort_by.include?('name') -%>
    <%= @sort_by.include?('ASC') ? t("asc") : t("desc") %>
  <% end -%>
</td>

<td>&nbsp;</td>

<td>
  <%= link_to t("price"), {
    :search => params[:search],
    :sort => "price_#{@sort_by.include?('ASC') ? 'desc' : 'asc'}",
    :p => params[:p]
  } -%>
</td>
<td>
  <% if @sort_by.include?('master_price') -%>
    <%= @sort_by.include?('ASC') ? t("asc") : t("desc") %>
  <% end -%>
</td>

<td>&nbsp;</td>

<td class="sort_item">
  <%= link_to t("date"), {
    :search => params[:search],
    :sort => "name_#{@sort_by.include?('ASC') ? 'desc' : 'asc'}",
    :p => params[:p]
  } -%>
</td>
<td>
  <% if @sort_by.include?('available_on') -%>
    <%= @sort_by.include?('ASC') ? t("asc") : t("desc") %>
  <% end -%>
</td>

</tr>
</table>
